div{
    background-color: tomato;
    padding: 10px;
    font-size: small;
    border-radius: 5px ;
    margin-top: 10px;
}
.ururu{
    background-color: aquamarine;
    padding : 20px ; 
    font-size: large;
}
.guru{
    background-color: yellowgreen;
    padding : 20px ; 
    margin-bottom: 5px;
}